@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "inter", sans-serif;
  color: rgb(0, 0, 0, 0.8);
}

button {
  font-family: "inter", sans-serif;
}

.separadores {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 100%;

  .separador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 50%;
  }

  .flor-svg {
    display: flex;
    align-items: end;
    justify-content: center;

    svg {
      width: 100%;
    }
  }
}

header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5%;
  position: absolute;
  z-index: 100;
  margin-top: 1%;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;

    ul {
      width: 100%;
      display: flex;
      gap: 5%;
      justify-content: end;

      li {
        list-style: none;
        color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        background-color: #be8e55;
        border: none;
        padding: 0 2%;
        text-transform: uppercase;
        color: rgb(255, 255, 255, 0.8);
        font-size: 1.1vw;
        padding: 0.5% 3%;
        border-radius: 10px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(./images/hero-fundo.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  z-index: 1;

  .titulo-nome {
    /* background-color: rgb(0, 255, 255, 0.5); */
    position: absolute;
    left: 8%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .momento {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 3%;

      p {
        margin-bottom: 2%;
        font-size: 0.8vw;
        color: #312923;
        letter-spacing: 12%;
      }

      .separadores {
        display: flex;
        align-items: end;
        justify-content: center;
        width: 100%;
        height: 100%;

        .separador {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30%;
          height: 100%;
        }

        .flor-svg {
          margin: 0 2%;
          display: flex;
          align-items: end;
          justify-content: center;

          svg {
            width: 80%;
          }
        }
      }
    }

    .titulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0, 0.7);

      h1 {
        font-family: "Playfair Display", sans-serif;
        font-size: 4.5vw;
        font-weight: 400;
      }

      h2 {
        width: 80%;
        display: flex;
        font-weight: 300;
        letter-spacing: 15%;
        font-size: 2.5vw;
        flex-wrap: wrap;
        text-align: center;
      }
    }

    button {
      background-color: #d29955;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin: 5% 0 0 0;
      padding: 2.5% 6%;
      border-radius: 20px;
      border: none;
      box-shadow: 0 13px 18.4px 0 rgba(0, 0, 0, 0.25);
      color: #fbf2eb;
      /* font-family: "inter", sans-serif; */
    }
  }

  .cuidados {
    display: flex;
    width: 80%;
    height: auto;
    background: rgba(252, 244, 243, 0.3);
    margin: 0 0 2% 0;
    padding: 1%;
    border-radius: 30px;
    backdrop-filter: blur(7px);
    box-shadow: 6px 8px 10px 0 rgba(0, 0, 0, 0.25);

    img {
      width: 20%;
    }

    .seta {
      width: 15%;
    }

    .cuidado {
      width: 33%;
      display: flex;
      gap: 5%;
      align-items: center;
      justify-content: center;

      .parte {
        display: flex;
        gap: 4px;
        flex-direction: column;
        width: 50%;

        h3 {
          font-size: 1.5vw;
          color: #6f5b5b;
          font-weight: 500;
        }

        p {
          font-size: 0.9vw;
          color: #6f5b5b;
        }
      }
    }

    .cuidado:not(:last-child) {
      border-right: 1px solid #000;
    }
  }
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #fff 0%, rgba(153, 153, 153, 0) 27.99%);
}

.secao2 {
  background-color: #f5c8c5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3%;

  .linhas {
    position: absolute;
    width: 100%;
    top: -10%;
    z-index: 0;
    opacity: 0.5;
  }

  h2 {
    text-align: center;
    padding: 5% 5%;
    margin: 0 0 2%;
    font-family: "Playfair Display", sans-serif;
    font-size: 4.7vw;
    color: #3b2740;
    font-weight: 400;
    z-index: 1;

    span {
      color: #f862bc;
      font-style: italic;
    }
  }

  .destaques {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-family: "Playfair Display", sans-serif;
      margin: 0 0 5% 0;
      font-size: 2.5vw;
      color: #3b2740;
    }

    .conteiner-destaques {
      width: 100%;
      height: auto;
      padding: 1% 5%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 5% 0;

      .destaque {
        width: 30%;
        height: 70vh;
        padding: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 6px 8px 10px 0 rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(6.300000190734863px);
        position: relative;

        .numero {
          background-color: #bca3bc;
          width: 70px;
          height: 70px;
          padding: 5%;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -10%;
          font-size: 2vw;
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
            drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
        }

        h3 {
          font-size: 1.5vw;
          text-align: center;
          margin: 1%;
        }

        .caixa-informacoes {
          width: 100%;
          height: 80%;
          display: flex;
          flex-direction: column;
          align-items: baseline;
          justify-content: space-between;

          .informacoes-destaque {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
          }
        }
      }
    }
  }
}

.secao3 {
  width: 100%;
  height: 100vh;
  background-image: url(./images/secao3-fundo.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: baseline;
  position: relative;

  .rosto {
    position: absolute;
    margin: 0 0 0 2%;

    path {
      opacity: 0.4;
    }
  }

  .cuidados {
    margin: 0 0 0 18%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3b2740;

    h2 {
      font-family: "Playfair Display", sans-serif;
      font-size: 3.5vw;
      text-align: center;
      font-weight: 400;

      span {
        color: #be8e55;
        font-style: italic;
      }
    }

    .separadores {
      margin: 5% 0 7% 0;
    }

    .flor-svg {
      margin: 0 3%;

      path {
        stroke: #be8e55;
      }
    }

    .separador {
      width: 40%;

      path {
        stroke: #3b2740;
      }
    }

    .cuidado {
      display: flex;
      flex-direction: column;

      .cuide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .img {
          border-right: 1px solid #be8e55;
          padding-right: 5%;
        }

        .parte {
          display: flex;
          flex-direction: column;
          /* background-color: #f862bc; */
          margin: 4% 2%;

          h3 {
            font-size: 1.4vw;
            font-weight: 400;
            margin-bottom: 3%;
          }
        }
      }
    }
  }

  button {
    background-color: #d29955;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 5% 0 0 0;
    padding: 2.5% 6%;
    border-radius: 15px;
    border: none;
    box-shadow: 0 13px 18.4px 0 rgba(0, 0, 0, 0.25);
    color: #fbf2eb;
    /* font-family: "inter", sans-serif; */
  }
}

.secao4 {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(
    180deg,
    #efd2cc 0%,
    #f5dfd9 35%,
    #f9ebe6 65%,
    #fff7f4 100%
  );

  .separadores {
    margin: 3% 0;
  }

  .titulo-secao4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 0;

    h3 {
      color: #f862bc;
      font-weight: 400;
    }

    h2 {
      font-size: 4vw;
      color: #3b2740;
      font-weight: 400;
      font-family: "Playfair Display", sans-serif;

      span {
        color: #be8e55;
        font-style: italic;
      }
    }

    .separadores {
      margin: 5% 0 7% 0;
    }

    .flor-svg {
      margin: 0 3%;

      path {
        stroke: #f862bc;
      }
    }

    .separador {
      width: 40%;

      path {
        stroke: #3b2740;
      }
    }
  }

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-bottom: 5%; */

    .area {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 8% 0 8%;

      h3 {
        color: #be8e55;
        font-weight: 400;
        letter-spacing: 6px;
        font-size: 1.5vw;
      }

      .botoes-prvnext {
        display: flex;
        gap: 15px;

        button {
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: none;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          background-color: #f862bc;
          background-color: #fcf4f3;
          transition: 0.3s;
          cursor: pointer;
          path {
            stroke: #ebb1ba;
          }
        }

        button:hover {
          background-color: #ebb1ba;
          path {
            stroke: #fefefe;
          }
        }
      }
    }

    .swiper,
    .swiper-2 {
      width: 100%;
      height: auto;

      padding: 5%;

      .card {
        min-width: 18%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background-color: #fcf4f3;
        border-radius: 10px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        position: relative;
        border: none;
        transition: 0.5s;
        border: #be8e55;

        .destaque {
          background-color: #fcf4f3;
          position: absolute;
          border-radius: 20px;
          padding: 2% 5%;
          right: 0;
          top: -5%;
          font-weight: 400;

          svg {
            width: 30%;
            height: auto;
          }

          div:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10%;
          }
          p:last-child {
            color: #be8e55;
          }
        }

        .img-card {
          width: 100%;
          height: 60%;

          img {
            width: 100%;
            border-radius: 10px 10px 0 0;
          }
        }

        .servicos-card {
          width: 80%;
          height: 18vh;
          margin: 5%;
          display: flex;
          gap: 10%;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          h3 {
            text-align: center;
            color: #3b2740;
          }

          div {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            p {
              color: #be8e55;
            }
          }
        }
      }

      .card:hover {
        scale: 1.1;
        padding: 1%;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
        border: 3px solid #be8e55;
      }
    }
  }
}
